#experience {
    background: transparent;
    height: max-content;
}

.experience__container {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

}
.experience__container > div {
    margin-top: 2rem;
    background: var(--black-color);
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    border: 1px solid var(--black-color);
    border-radius: 0.2rem;
    width: 50%;
}

.experience__container > div:hover {
    box-shadow: 2px 2px 15px 1px rgba(8, 7, 8, 1);
    transform: scale(1.02);
    transition: var(--transition);
}

.experience__container > div h3 {
    text-align: center;
    font-size: medium;
    margin-bottom: 0.5rem;
    color: var(--grey-color);
}

.knowledge__content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-size: small;
}

.knowledge__details {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 1120px){
.experience__container {
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
    .experience__container > div {
        margin: auto;
        width: 90%;

        padding: 2rem;

    }

    .knowledge__content {
        padding: 1rem;
    }
}

@media screen and (max-width: 640px) {

.experience__container {
    margin: 0;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 1rem;
}
    .experience__container > div {
        width: 100vw;
        margin: 0;
        padding: 2rem 1rem;
    }
}