.nav__sidebar {
    display: block;
    position: fixed;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.2rem 0.2rem;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 12rem;
/*    border: 1px outset grey;
    border-left: none;
    border-radius: 0 1rem 1rem 0;
    box-shadow: 26px 7px 100px 3px rgba(255, 255, 255, 0.48);*/

}

.nav__sidebar > a {
    color: var(--grey-color);
    background: transparent;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    padding: 0.8rem;

}

.nav__sidebar > a:hover {
    font-size: 1.3rem;
}

.nav__sidebar > a.active {
    color: var(--yellow-color);
}

@media screen and (max-width: 950px) {
    .nav__sidebar {
        position: fixed;
        z-index: 2;
        top: calc(90% - 0.2rem);
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        width: max-content;
        height: max-content;
        border-radius: 12rem;
    }
    .nav__sidebar, a {
        display: flex;

        flex-direction: row;
    }
}